.checkout-wrapper {
    margin-top: 0;
    margin-bottom: 0;

    .input-container {
        position: relative;
        margin: 12px 0;

        input {
            height: 100%;
            padding: 8px 16px;
            border: 1px solid lightgray;
            ;
            width: 100%;
            border-radius: 8px;

            &:focus {
                outline: none;

                +label {
                    top: 0;
                    left: 8px;
                    font-size: 14px;
                    background-color: #fff;
                }
            }
        }

        label {
            position: absolute;
            top: 50%;
            left: 16px;
            transform: translateY(-50%);
            color: grey;

            &.shrink {
                top: 0;
                left: 8px;
                font-size: 14px;
                background-color: #fff;
            }
        }
    }

    .checkout-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 40px;
        grid-template-areas: "a b";


        @include custom-media(tablet-large) {
            grid-template-columns: 1fr;
            grid-template-areas: "a""b""c";
            grid-row-gap: 28px;

            .left-container {
                display: contents;
            }

            h1 {
                grid-area: a;
            }

            .checkout-info {
                grid-area: c;
            }

            .cart__container {
                grid-area: b;
            }
        }

        h1 {
            font-size: 32px;
            margin-bottom: 24px;
            padding-top: 40px;
        }

        .contact-info__container {
            .title {
                font-size: 20px;
                margin: 12px 0;
            }

            .info {
                display: grid;
                grid-template-columns: auto 1fr;
                grid-column-gap: 12px;
                align-items: center;


                p {
                    margin-bottom: 0;
                }

                .avt-container {
                    width: 64px;
                    height: 64px;
                    border-radius: 12px;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }

            .shipping-address {
                p {
                    font-size: 20px;
                    margin: 24px 0;
                }

                .fullname {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-column-gap: 12px;

                    .input-container {
                        margin: 0;
                        width: 100%;
                    }

                    @include custom-media(tablet-large) {
                        grid-template-columns: 1fr;
                        grid-row-gap: 12px;
                        margin-bottom: 12px;
                    }
                }

                .btn-container {
                    margin-top: 24px;

                    button {
                        cursor: pointer;
                    }
                }

                .btn:last-child {
                    color: $primary;
                    background-color: transparent;

                    &:active {
                        outline: none;
                        border: none;
                        box-shadow: none;
                    }
                }
            }
        }

        .cart__container {
            border-left: 1px solid lightgray;
            padding-left: 40px;
            padding-top: 40px;

            @include custom-media(tablet-large) {
                border-left: none;
                padding-left: unset;
                padding-top: unset;
            }

            .discount-code {
                display: grid;
                grid-template-columns: 1fr auto;
                grid-column-gap: 24px;
                padding: 24px 0;
                border-bottom: 1px solid lightgray;

                .input-container {
                    margin: 0;
                }
            }

            .sub-total {
                padding: 24px 0;
                border-bottom: 1px solid lightgray;

                span {
                    float: right;
                    font-weight: 600;
                }

                p:first-child {
                    margin-bottom: 12px;
                }

                p:last-child {
                    margin: 0;
                }
            }

            .total {
                padding: 24px 0;

                span {
                    float: right;
                }

                strong {
                    font-size: 20px;
                }
            }

            .list-product {
                padding-bottom: 24px;
                border-bottom: 1px solid lightgray;
                max-height: 50vh;
                overflow-y: scroll;
                padding-right: 12px;

                &::-webkit-scrollbar {
                    width: 4px;
                }

                /* Track */
                &::-webkit-scrollbar-track {
                    background: #f1f1f1;
                }

                /* Handle */
                &::-webkit-scrollbar-thumb {
                    background: #888;
                }

                /* Handle on hover */
                &::-webkit-scrollbar-thumb:hover {
                    background: #ccc;
                }

                .product-info {
                    display: grid;
                    grid-template-columns: auto 1fr auto;
                    grid-column-gap: 24px;
                    align-items: center;
                    padding-top: 12px;

                    &:not(:last-child) {
                        margin-bottom: 12px;
                    }

                    p {
                        margin-bottom: 0;
                    }

                    .product-thumbnail {
                        position: relative;

                        .product-img {
                            height: 72px;
                            width: 72px;
                            border-radius: 12px;
                            overflow: hidden;
                            border: 1px solid #f1f1f1;
                            ;

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }

                        .quantity {
                            position: absolute;
                            top: -12px;
                            right: -12px;
                            width: 24px;
                            height: 24px;
                            background-color: $primary;
                            border-radius: 100rem;
                            color: white;
                            text-align: center;
                            line-height: 24px;
                        }
                    }
                }
            }
        }
    }
}

.shipping__container {
    .info__container {
        .info-detail {
            display: grid;
            grid-template-columns: 60px 1fr auto;
            align-items: center;
            justify-items: start;
            grid-column-gap: 12px;

            &:not(:last-child) {
                border-bottom: 1px solid #f1f1f1;
                padding-bottom: 8px;
            }

            &:last-child {
                padding-top: 8px;
            }

            p {
                margin-bottom: 0;
            }

            p:last-child.text-primary {
                cursor: pointer;
            }
        }

        border: 1px solid #f1f1f1;
        padding: 16px;
        border-radius: 12px;

        &:not(:last-child) {
            margin: 24px 0;
        }

        &:nth-child(3) {
            .info-detail {
                grid-template-columns: auto 1fr auto;
            }
        }
    }

    .btn-container {
        margin-top: 24px;

        button {
            cursor: pointer;
        }
    }

    .btn:last-child {
        color: $primary;
        background-color: transparent;

        &:active {
            outline: none;
            border: none;
            box-shadow: none;
        }
    }
}